body {
    margin: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    background-image: linear-gradient( 180deg, rgba(248, 246, 246, 0.582), rgba(2, 2, 2, 0.815) ), url(https://www.engserbia.com/resources/Photos/office-1209640_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.heading {
    padding: 30px 0;
    background-color: #C5004B;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: #000000;
        background-color: rgba(255, 255, 255, 0.85);
        display: inline;
        padding: 0 0.45rem;
        font-weight: 900;
    }
    p {
        background-color: rgba(255, 255, 255, 0.85);
        width: fit-content;
        padding: 0 0.45rem;
        margin: 0;
        font-size: 1.2em;
    }
}
