.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar-logo img {
  max-height: 32px;
  max-width: 100%;
  object-fit: scale-down;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
  margin-left: 20px;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  transition: 0.4s all;

}

.navbar-links a:hover {
  color: #C5004B;
}
