.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
  margin-left: 20px;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  transition: 0.4s all;

}

.navbar-links a:hover {
  color: #C5004B;
}
