.projects-list {
    display: flex;
    margin: 20px 100px;
    color: #000;
}
  
  .filter-panel {
    flex: 1;
    /* margin-right: 20px; */
    padding: 20px;
    /* border: 1px solid #f00; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.55);
  }
  
  .project-display {
    flex: 2;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  select {
    cursor: pointer;
  }
  
  button {
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 0.01em;
    line-height: 14px;
    padding: 0.875rem 1.25rem 0.625rem 1.25rem;
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #C5004B;
    transition: 0.4s all;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #c5004cd7;
    cursor: pointer;
  }

  .select-multiple-employees {
    display: flex;
    height: 300px;
  }
  
  .project-display {
    height: auto;
    background-color: #002F53;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .project-card {
    border: 1px solid #ffffff85;
    border-radius: 5px;
    width: 260px;
    color: #fff;
    text-align: center;
    transition: 0.4s all;
    h3 {
      text-decoration: underline;
      color: #C5004B;
    }
  }

  .project-card:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .engaged-employees ul {
    list-style-type: none;
    padding-left: 0;
    padding: 0 10px;
  }
  
  .engaged-employees li {
    margin: 10px 0;
  }
  