.projects-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 100px;
  color: #000;
  .filter-panel {
    flex: 1;
    /* margin-right: 20px; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.55);
    height: fit-content;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input,
    select {
      width: 95%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  letter-spacing: 0.01em;
  line-height: 14px;
  padding: 0.875rem 1.25rem 0.625rem 1.25rem;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.1);
  background-color: #002f53;
  transition: 0.4s all;
  margin-top: 10px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
button[type="reset"] {
  margin-left: 10px;
  background-color: #c5004b;
  &:hover {
    opacity: 0.8;
  }
}

.select-multiple-employees {
  display: flex;
  height: 300px;
  width: 100% !important;
}

.project-display {
  flex: 2;
  padding: 20px;
  height: auto;
  background-color: #002f53;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  border: 1px solid #ffffff85;
  width: 250px;
  height: fit-content;
  color: #fff;
  text-align: center;
  transition: 0.4s all;
  h3 a {
    text-decoration: none;
    color: #fff;
    background-color: #c5004b;
    padding: 5px 60px;
  }
  button {
    margin-bottom: 10px;
    border: 1px solid #fff;
  }
  &:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    box-shadow: rgba(252, 252, 252, 0.5) 0px 0px 20px 1px;
  }
}

.engaged-employees {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  ul {
    list-style-type: none;
    padding-left: 0;
    padding: 0 10px;
  }
  li {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1080px) {
  .projects-list-container {
    flex-direction: column;
    margin: 20px;
  }
  .filter-panel {
    flex: none;
    width: 70%;
    margin: auto;
    padding: 10px;
    input {
      width: 88%;
    }
  }
  .project-display {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }

  .project-card {
    width: 70%;
  }
}
