.project-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 100px;
    .image-content {
        background-image: url(https://www.engserbia.com/resources/Photos/AdobeStock_208731449.jpeg);
        background-position: center;
        background-size: cover;
        height: auto;
        width: 100%;
        flex: 2;
    }
    .project-form {
        flex: 1;
        background-color: rgba(255, 255, 255, 0.55);
        /* margin-right: 20px; */
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
}


  .project-form h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .project-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #002F53;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .project-form button[type="submit"] {
    background-color: #002F53;
  }
  
  button:hover {
    opacity: 0.9;
  }

  .remove-btn:hover  {
    background-color: #C5004B;
  }
  
  .employee {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .employee {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .employee-header {
    font-weight: bold;
    margin-bottom: 5px;
  }


  .error-message {
    color: red;
    margin: 10px 0;
  }
  